!!! 5
%html
  %head
    %title  
      Moosic
    %link{:href => "/normalize.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/dark.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/theme.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/hightligher.css", :rel => "stylesheet", :type => "text/css"}
    %script{:src => "/mootools-core-1.3.1-full-compat-yc.js", :type => "text/javascript"}
    %script{:src => "/mootools-more-1.3.2.1.js", :type => "text/javascript"}
    %script{:src => "/Moosic.js", :type => "text/javascript"}
    %script{:src => "/site.js", :type => "text/javascript"}
    %script{:src => "/prettify.js", :type => "text/javascript"}
  %body
    %a{:name=>"top"}
    %header
      %h1
        Moosic
      %h2
        A simple HTML5 audio player with the power of MooTools.
      %hr
      %nav{:role => "navigation"}
        %ul
          %li
            %a{:href => "#download"}
              Download
          %li
            %a{:href => "#usage"}
              Usage
          %li
            %a{:href => "#docs"}
              Documentation
          %li
            %a{:href => "#themes"}
              Themes
          %li
            %a{:href => "#getinvolved"}
              Get Involved
          %ul
      %hr
    #player
    %article
      %a{:name=>"download"}
      %h3
        Download
        %a{:href => "#top"} To The Top!        
      %hr
      %section
        .download
          .arrow
          .title
            Moosic
          .version
            1.0:
            RC1
        %p 
          You can download 
          %b Moosic
          with the button on the right or at Github.
        %p
          Github: 
          %a{:href=>"https://github.com/gdotdesign/moosic"} https://github.com/gdotdesign/moosic
        %p
          Dependencies
          %ol
            %li
              %a{:href=>"http://mootools.net/download"} MooTools Core 1.3.1
            %li
              %a{:href=>"http://mootools.net/more/"} 
                MooTools More
              :plain
                -
              with Element.Delegation
      
      %a{:name=>"usage"}
      %h3
        Usage
        %a{:href => "#top"} To The Top!
      %hr
      %section
        %p 
          Moosic consits two parts: the HTML5 audio tag 
          %b wrapper
          , and the 
          %b player interface.
        %p
          The 
          %b player
          is the actual interface you see in this page. It uses the wrapper as a backend.
          To use the player just load the script and the theme, and initialize it (don't forget the dependencies):
        %code
          %pre
            :escaped
              <link href="/theme.css" type="text/css" rel="stylesheet">
              <script src="/moosic.js" type="text/javascript"></script>
        %code
          %pre.prettyprint
            :escaped
              <script type="text/javascript">
                window.addEvent("domready",function(){
                  var player = new Moosic.Player({options});
                  player.add({
                    title: "Elements",
                    album: "Lost Horizons",
                    artist: "Lemonjelly",
                    src: "/songs/1 - Elements.mp3",
                  });
                  $("player").grab(player)
                });
              </script>
        %p
          The 
          %b wrapper
          allows you to create your own interface:
        %code
          %pre.prettyprint
            :plain
              window.addEvent("domready",function(){
                var player = new Moosic.Wrapper();
                player.add({
                  title: "Elements",
                  album: "Lost Horizons",
                  artist: "Lemonjelly",
                  src: "/songs/1 - Elements.mp3",
                });
                $("play").addEvent("click",function(){
                  player.play(0)
                })
              });
        %p
          To make you custom interface study the 
          %a{:href=>"#docs"} documentation.
      %a{:name=>"docs"}
      %h3 
        Doucmentation
        %a{:href => "#top"} To The Top!
      %hr
      %section
        .class
          Class: Moosic.Wrapper
        .property
          Properties
        %code
          %pre
            :escaped
              if(player.playing != null) 
                player.pause()
        %ul
          %li
            %b playing:
            The Song that is playing at the time, or null.
          %li
            %b audio:
            The HTML5 audio tag.
        .property
          Events
        %code
          %pre.prettyprint
            :escaped
              player.addEvent("play",function(song,index){
                console.log("Playing song: "+song.title);
              });
        %ul
          %li
            %b update(percentage,currentTime,duration):
            Fires every time the 
            %i timeupdate
            event on the audio tag runs. 
            %ul
              %li 
                %b percentage - 
                number currentTime / duration
              %li
                %b currentTime - 
                the current playback position (seconds)
              %li
                %b duration -
                the end of the song (seconds)
          %li
            %b idle:
            Fires when there is nothing playing.
          %li
            %b play(song,index):
            Fires when a song starts playing.
            %ul
              %li
                %b song - 
                the song that is playing currently
              %li
                %b index - 
                the index of the song in the playlist
          %li
            %b pause:
            Fires when the current playing song is paused.
          %li
            %b resume:
            Fires when the current song is resumed playing.
          %li
            %b empty:
            Fires when playlist is emptied.
          %li
            %b added(song,index):
            Fires when a song is added to the playlist by the add() method.
            %ul
              %li
                %b song - 
                the song that which has been added
              %li
                %b index - 
                the index of the song in the playlist
          %li
            %b removed(song,index):
            Fires when a song is removed from the playlist by the remove() method.
            %ul
              %li
                %b song - 
                the song that which has been removed
              %li
                %b index - 
                the index of the song in the playlist
        .property
          Attributes
        %code
          %pre.prettyprint
            :escaped
              player.set('shuffle',true);
        %ul
          %li
            %b shuffle:
            To randomly choose a song to play on next(), previous() or when a song is ended.
          %li
            %b repeat:
            Weather or not to play from the first song when the last song finished playing.
        .property
          Methods
        %code
          %pre.prettyprint
            :escaped
              player.pause();
        %ul
          %li
            %b play(song):
            Plays the song passed as the argument. If the song is a number it will play the song with that index. If the song isn't in the playlist it will add it and start playing. If ommitted it starts playing the first song in the playlist.
            %ul
              %li
                %b song - 
                the song to play or the index to play
          %li
            %b pause():
            Pauses the currently playing song.
          %li
            %b stop():
            Stops the currently playing song, fires the idle event.
          %li
            %b next():
            Plays the next song from the playlist.
          %li
            %b previous():
            Plays the previous song from the playlist.
          %li
            %b add(song):
            Adds the song to the playlist.
            %ul
              %li
                %b song - 
                the song to be added
          %li
            %b remove(song):
            Removes the song from the playlist.
            %ul
              %li
                %b song - 
                the song to be removed
          %li
            %b empty():
            Removes all songs from the playlist, and stopping the playback.
        .class
          Class: Moosic.Song
        .property
          Properties
        %ul
          %li
            %b title:
            The title of the song.
          %li
            %b cover:
            Url to the cover art of the song.
          %li
            %b src:
            Url to the source file (mp3, ogg).
          %li
            %b album:
            The album of the song.
          %li
            %b artist:
            The artist of the Song.
      %a{:name=>"themes"}
      %h3 
        Themes
        %a{:href => "#top"} To The Top!
      %hr
      %section
        %p Themes use sass.
      %a{:name=>"getinvolved"}
      %h3 
        Get Involved
        %a{:href => "#top"} To The Top!
      %hr
      %section
        %p
          You have any ideas or found any bugs post them on the
          %a{:href=>"https://github.com/gdotdesign/moosic/issues"} github issues page.
        %p 
          If you want to work on 
          %b Moosic
          you are free to do so (fork it and have at it), just follow the guidelines on 
          %a{:href=>"https://github.com/gdotdesign/moosic"} github.
        %h4
          What is needed:
        %ol
          %li
            Currently there is no flash fallback, if some falsh guru could make it that would be awesome.
          %li
            Player themes needs to be converted to
            %a{:href=>"http://lesscss.org/"} Less
            to support more users.
          %li
            Other Interface implementations would be nice.
      %h3 
        Credits
        %a{:href => "#top"} To The Top!
      %hr
      %section
        %p 
          Background image
          is 
          %a{:href=>"http://bsa-danny.deviantart.com/art/Woody-Wallpaper-211437542"} Woody Wall
          by *BSA-Danny from deviantart.
          %br
          Songs are from the album Jazz U on 
          %a{:href=>"http://www.jamendo.com/en/album/3777"} jamendo
          , by 
          %a{:href=>"http://raijekov.com/"} Antony Raijekov.
          %br
          The player UI is inspired by 
          %a{:href=>"http://www.sebastiengabriel.com/blog/resource-for-designer-psd-16/"} Kb's UI Kit.
